{{#if errNome}}
    <div class="alert alert-danger">{{errNome}}</div>
{{/if}}

{{#if errSlug}}
    <div class="alert alert-danger">{{errSlug}}</div>
{{/if}}

<form action="/admin/edit" method="post">
        <input hidden type="text" name="pagina" value="editCategoria">
        <input hidden type="text" class="form-control" value="{{categorias._id}}" name="id" id="id">
    <div style="margin: 0px 25vw 0px 25vw" class="mb-4">
        <label for="nome" class="form-label">Nome da categoria: <br></label>
        <input type="text" class="form-control" value="{{categorias.nome}}" name="nome" id="nome">
    </div>
    <div style="margin: 0px 25vw 0px 25vw" class="mb-5">
        <label for="slug" class="form-label">Slug da categoria: <br></label>
        <textarea class="form-control" id="slug" rows="3" name="slug" itemid="slug">{{categorias.slug}}</textarea>
    </div>

    <div class="col text-center">
        <button type="submit" class="btn btn-success mb-3">Editar categoria</button>
    </div>
</form>